packages/
Demo.UI/obj/Release/
Demo.UI/obj/Debug/
Demo.UI/bin/
Demo.Manage/obj/Release/
Demo.Manage/obj/Debug/
Demo.Manage/bin/
Demo.DB/bin/Debug/Demo.DB.dacpac
Demo.DB/bin/Debug/Demo.DB.publish.sql
Demo.DB/bin/Debug/Demo.DB.sql
Demo.DB/bin/Debug/Demo.DB_1.publish.sql
Demo.DB/bin/Debug/Demo.DB_2.publish.sql
Demo.DB/bin/Debug/Demo.DB_3.publish.sql
Demo.DB/bin/Debug/DeploymentReport.txt
Demo.DB/bin/Debug/DeploymentReport_1.txt
Demo.DB/bin/Debug/DeploymentReport_2.txt
Demo.DB/bin/Debug/DeploymentReport_3.txt
Demo.DB/obj/Debug/Demo.DB.sqlproj.FileListAbsolute.txt
Demo.DB/obj/Debug/Model.xml
Demo.DB/obj/Debug/postdeploy.sql
Demo.Core/bin/
Demo.Core/obj/
Demo.Core/DBs/Remotes/
