@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<address>
    <strong>Address</strong><br />
    No 12 Pitt Street <br />
    Sydney NSW Australia
</address>

<address>
    <strong>Contact Number</strong><br />
    <abbr title="Pone">P:</abbr> (02) 0000 0000
</address>

<address>
    <strong>Email</strong><br />
    <a href="mailto:Support@example.com">Support@example.com</a>
</address>