
<h3>Invoice Detail - Error</h3>

<hr />
<hr />

<div class="row">
    <div class="col-md-4 col-md-offset-8">
    @Ajax.ActionLink("Back to List", "Invoices", new AjaxOptions { UpdateTargetId = "Main" })
    </div>
</div>